.statusbar-overlay {
  background: #000000;
}

/*login*/
.login-screen-content .content-block, .login-screen-content .list-block, .login-screen-content .list-block-label, .login-screen-content .login-screen-title {
    margin: 0px auto;
}

.login-screen-content {
  padding-top: 104px;
}

.login-screen-content .content-block {
    padding: 80px 16px;
}


.page-content {
  background-image: url('../img/fondo_gr.png');
}

.item-input-field::after {
  background: none;
}

#login-screen-img {
  text-align: center;
  padding-bottom: 70px;
}

#login-screen-img img {
    height: 200px;
    width: 100%;
}



.login-screen-title, .recover {
  font-size: 17px;
  font-weight: bold;
  color: white;
}

.item-input input {
  padding: 15px!important;
  background: white!important;
}

.list-block .item-inner::after{
  background: none;
}
.list-block .item-inner {
    padding-top: 5px;
    padding-bottom: 5px;
  }

.list-block input[type=text], .list-block input[type=password] {
  height: 47px!important;
}

.list-block .item-content {
  padding-left: 25px;
}


.list-block .item-inner {
  padding-right: 25px;
}

.color-green {
  text-align: center;
  background: #4caf50;
  color: white;
  border-radius: 0px;
  margin: 0px 25px;
}

.modal-button, .modal-buttons .button{
  color: #4ab936;
}


/*principal*/

.navbar {
  background: #4ab936;
}

.navbar .center{
  font-weight: bold;
  font-size: 15px;
}


/*navbar*/


.right a {
  padding: 4px 3px 0px 3px!important;
}
.right a:last-child {
  padding: 4px 13px 0px 3px!important;
}

#avatar_doctor{
  width: 35px;
  height: 100%;
}
.link img, .buttons-row .left a img {
  height: 28px;
  width: 28px;
}


/*subnavbar*/


.with-subnavbar {
  padding-top: 48px;
}
.subnavbar {
  background: #bde021;
}

.subnavbar .center{
    color: white;
    line-height: 14px;
    font-size: 13px;
    font-weight: 700;
    padding-top: 5px;
}

/*toolbar*/
.panel.panel-left.panel-reveal.active {
    color: white;
    background: #4ab936;
}

.panel .content-block p:last-child a{
  color: white;
  font-size: 15px;
  font-weight: bold;
}



/*mapa*/

#map {
  height: 100%;
  width: 100%;
}


/*modal*/

.modal {
  width: 285px;
  left: 50%;
  border-radius: 0px;
}
.modal-inner {
    padding: 0px 15px 10px;
}
.modal-inner .swiper-container {
    margin-top: -1px !important;
}

.info-paciente{
  padding: 0px 15px;
  font-size: 14px;
  line-height: 17px;
}



.text-paciente {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  margin-top: -48px;
  padding: 8px 12px 7px 16px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;

}

.detalle img, .direccion img, .control img {
  float: left;
  width: 24px;
  padding: 5px 16px 5px 0px;
}
.detalle, .control {
    margin-top: 10px;
    margin-bottom: 5px;
}


/* Lista pacientes */
.list-block-pacientes{
  margin: 0px;
}
.list-block-pacientes .item-inner{
    flex-direction: column;
    -webkit-align-items: left;
}
.list-block-pacientes .item-inner {
    padding-right: 35px;
    font-size: 12px;
}
.list-block-pacientes .item-content {
    padding-left: 18px;
    border-bottom: 2px solid #efefef;
}
/*detalle paciente*/
a.active.tab-link .img-right{
    width: 30px;
    float: right;
    padding: 5px 9px;
}
.content-paciente{
    margin: -15px 0px 0px 0px;
    padding: 0px;
}
img.img-lg-paciente {
    display: block;
    width: 100%;
    height: auto;
}
.content-paciente .info-paciente{
    padding: 0px 16px;
}
.funciones{
    border-top: 2px solid #6d6d72;
    text-align: center;
}
.funciones div{
    float: left;
}
